<% for( let post of locals.posts ) { %>
<li>
	<!-- All posts 6360a90baa47f7142954b650 -->
	<p>
		<% if (locals.user && locals.user.id === post.user.id) { %>
		<!-- delete post button  -->
		<small>
			<a href="/posts/destroy/<%=post.id%>">delete</a>
		</small>
		<% } %> <%= post.content %>
		<br />
		<small><%= post.user.name %> </small>

		<!-- include comments partial for redablde file post.ejs  -->
		<%- include('_comments.ejs') %>
	</p>
</li>
<% } %>
