<h1>Home</h1>

<section id="feed-posts">
	<h3>Posts</h3>
	<form action="/posts/create-post" method="post" id="new-post-form">
		<textarea name="content" id="" cols="30" rows="5"> </textarea>
		<button type="submit"><strong>Post</strong></button>
	</form>

	<div class="posts">
		<ul>
			<%- include('_post.ejs') %>
		</ul>
	</div>
</section>

<section id="user-friends">
	<h4>Friends</h4>

	<% for( let users of all_users ) { %>
	<p>
		<a href="/users/profile/<%= users.id %>"><%= users.name %> </a>
	</p>
	<% } %>
</section>
