<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/layout.css" />
	</head>

	<body>
		<!-- include header  -->
		<%- include('_header') %>

		<!-- variable part  -->
		<%- body%>

		<!-- include footer -->
		<%- include("_footer") %>
	</body>
</html>
