<html>
	<head>
		<title></title>
	</head>

	<body>
		<!-- include header  -->
		<%- include('_header') %>
        
        <!-- variable part  -->
        <%- body%>

		<!-- include footer -->
		<%- include("_footer") %>
	</body>
</html>
