<h1>sign up page</h1>

<form action="/user/create-session" method="post">
	<input type="email" name="user_email" placeholder="Your Email" required />
	<input type="password" name="user_password" placeholder="Your Password" />

	<button type="submit">Sign Out</button>
</form>
